<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Toolbar lateral solo si está activa la Interfaz Visual -->
<div *ngIf="mostrarToolbarVisual" class="vertical-toolbar">
  <ion-button *ngFor="let opcion of opcionesMenu" expand="block" [disabled]="opcion === 'Interfaz Visual'">
    {{ opcion }}
  </ion-button>
  <ion-button expand="block" color="medium" (click)="volverAlMenuCentral()">Volver</ion-button>
</div>

<ion-content [fullscreen]="true" [class.visual-mode]="mostrarToolbarVisual">
    <div *ngIf="!mostrarToolbarVisual" class="botones-menu-central">
    <ion-button expand="block" (click)="activarInterfazVisual()">Interfaz Visual</ion-button>
    <ion-button expand="block" (click)="activarInterfazVisual()">Registros y Movimientos</ion-button>
    <ion-button expand="block" (click)="activarInterfazVisual()">Reportes</ion-button>
    <ion-button expand="block" (click)="activarInterfazVisual()">Gestión de Pañol 1</ion-button>
    <ion-button expand="block" (click)="activarInterfazVisual()">Gestión de Pañol 2</ion-button>
    <ion-button expand="block" (click)="activarInterfazVisual()">Gestión de Pañol 3</ion-button>
  </div>

  <!-- interfaz visual -->
  <div *ngIf="mostrarToolbarVisual" class="visual-content">
    <div class="header-line">
      <h2>Registros</h2>
      <div class="grow"></div>
      <ion-button size="small" (click)="cargarRegistros()">Actualizar</ion-button>
    </div>

    <div class="stats-row">
      <ion-chip color="primary">Total: {{ registros.length }}</ion-chip>
      <ion-chip color="success">Último: {{ registros.length > 0 ? (registros[0].created_at | date:'short') : '—' }}</ion-chip>
    </div>

    <!-- Cards -->
    <div class="cards-scroll">
      <ion-card *ngFor="let r of registros" class="reg-card">
        <ion-card-header>
          <ion-card-title class="mono">Tag: {{ r.tag }}</ion-card-title>
          <ion-card-subtitle class="muted">
            ID #{{ r.id }} · {{ r.created_at | date:'short' }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="row">
            <ion-badge color="tertiary">Válido</ion-badge>
          </div>  
        </ion-card-content>
      </ion-card>

      <div class="center" *ngIf="loading"><ion-spinner></ion-spinner></div>
      <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
      <ion-text *ngIf="!loading && !registros?.length">Sin registros todavía</ion-text>
    </div>
  </div>
</ion-content>

