ion-content {
  --background: none;
  background-image: url('../../assets/images/Fondo-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-content::part(scroll) {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
}

ion-accordion-group {

  max-width: 700px;
  width: 90%;
}
