@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-Thin.otf") format(truetype) ;
    font-weight: 100;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-ExtraLight.otf") format(truetype) ;
    font-weight: 200;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-Light.otf") format(truetype) ;
    font-weight: 300;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform.otf") format(truetype) ;
    font-weight: 400;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-Medium.otf") format(truetype) ;
    font-weight: 500;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-Bold.otf") format(truetype) ;
    font-weight: 600;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-ExtraBold.otf") format(truetype) ;
    font-weight: 700;
}
@font-face {
    font-family:"Geoform" ;
    src: url("geoform/Geoform-Heavy.otf") format(truetype) ;
    font-weight: 800;
}