.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var( transparent); 


    lottie-player {
    width: 100%; 
    height: 100%; 
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}