// -------------------------------------------------------------------
// Estilos para el Contenido Principal de la Página
// -------------------------------------------------------------------
ion-content {
--background: none;

  background-image: url('../../assets/images/Fondo-login.jpg');

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
      filter: brightness(0.7);
      z-index: -1;
    }




// -------------------------------------------------------------------
// Estilos para la Animación de Inicio (Splash Screen)
// -------------------------------------------------------------------

.splash-container {
  // Ocupa toda la pantalla y centra la animación en el medio.
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    lottie-player {
    // Define el tamaño de la animación para que se vea bien en todos los dispositivos.
    width: 80vw;
    max-width: 450px;
}
}


// -------------------------------------------------------------------
// Estilos para el Contenido del Login (Cuando la animación termina)
// -------------------------------------------------------------------

.login-content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    animation: fadeIn 0.5s ease-in-out;
}


// -------------------------------------------------------------------
// Estilos para el Logo Estático
// -------------------------------------------------------------------

.logo-container {
  // Centra la imagen y le da un espacio antes del formulario.
    text-align: center;
    margin-bottom: 2rem;

    img {
    // Define la altura del logo. Puedes ajustar este valor.
    height: 200px
    }
}


// -------------------------------------------------------------------
// Estilos para la Tarjeta del Formulario
// -------------------------------------------------------------------

ion-card {
  
    background: #0d2c54; 
    color: #ffffff;

    width: 90%;
    max-width: 380px;
    border-radius:20px;

    margin-left: auto;
    margin-right: auto;
}

ion-item {
  
    --background: transparent;
  // Define el color del borde inferior del campo.
    --border-color: rgba(131, 245, 233, 0.2);

  // Estilo para los iconos (candado, persona)
    ion-icon {
    color: #ffffff;
    }

  // Estilo para las etiquetas (Usuario, Contraseña)
    ion-label {
    color: #ffffff;
}

  // Estilo para el texto que el usuario escribe
    ion-input {
    --color: #ffffff;
}
}

// -------------------------------------------------------------------
// Definición de la Animación de Aparición
// -------------------------------------------------------------------

@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(10px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}